*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #f4c531;
}
.wrapper{
    box-sizing: border-box;
    width: 26.87rem;
    padding: 2.5em 3em;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em rgba(86, 66 ,0 , 0.3);
}
.game-container{
    position: relative;
    width: 100%;
    display: grid;
    
}